/**
 * custom
 * place custom style in this file
 * add !important to the end if no effect
 * e.g. color: #fff !important;
 * --------------------------------------------------
 *
 */
.container {
  text-align: center !important;
  margin-top: 0 !important;
  display: block !important;
  height: fit-content;
}

.navbar {
  background: #303343;
}

.start-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

body {
  height: 100%;
}